<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
<!--        下划线的问题-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.mazhiwei.mybatis.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
<!--                如果要操作别的库的表的时候，一定要切换-->
                <property name="url" value="jdbc:mysql:///bjpowernode?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="mzw"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.mazhiwei.mybatis.mapper"/>
    </mappers>
</configuration>